hr {
    box-sizing: content-box;
    height: 0;
}

.section_section{
    position: relative;
    scroll-margin-top: 4px;
    padding: 60px 0;
    height: 100vh;
}

.section_section_wrapper{
    max-width: 1060px;
    width: 87.72%;
    margin: 0 auto;
}

.title_title{
    text-align: center;
}
.title_title_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_title_title{
    font-size: 22px;
    line-height: 1.33;
    font-weight: 700;
    color: #333;
    margin-left: 4px;
}
.title_title_wrapper>* {
    margin-left: 4px;
    line-height: normal;
}
.title_title_wrapper>button {
    margin-top: 3px;
}

.careerContentList_Category{
    position: relative;
}

.interestTagSlide{
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 20px 0;
    flex: 1 1;
    grid-gap: 8px;
    gap: 8px;
}
.scrollSnap{
    grid-gap: 8px;
    gap: 8px;
    display: flex;
    padding-bottom: 0.5px;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}
.interestCategoryItem{
    color: #36f!important;
    border-color: #36f!important;
    display: flex;
    padding: 9px 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 146.7%;
    flex-shrink: 0;
    outline: none;
    scroll-snap-align: start;
    height: 40px;
    position: relative;
    background-color: #fff;
    border: 1px solid #36f;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-width: 64px;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;
}
.button_label{
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}
.scrollSnap_hide{
    max-width: calc(100% - 40px - 8px);
    position: relative;
    display: flex;
}
.scrollSnap_tagSlide{
    left: 0;
    justify-content: flex-start;
    background: linear-gradient(90deg,#fff 21.82%,hsla(0,0%,100%,0));
    display: flex;
    width: 80px;
    position: absolute;
    align-items: center;
    height: 100%;
    z-index: 1;
}
.scrollSnap_tagSlide_arrow{
    left: 0;
    justify-content: flex-start;
    background: linear-gradient(90deg,#fff 21.82%,hsla(0,0%,100%,0));
    display: flex;
    width: 80px;
    position: absolute;
    align-items: center;
    height: 100%;
    z-index: 1;
}
.scrollSnap_tagSlide_arrow>button{
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%);
    color: #888;
    position: relative;
}
.svgIcon_root{
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.svgIcon_root_svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}
:not(svg) {
    transform-origin: 0px 0px;
}

.creatorBannerAside{
    position: absolute;
    background-color: #fff;
    border: 1px solid #e1e2e3;
    border-radius: 4px;
    top: 0;
    right: -170px;
    width: 150px;
    padding: 14px 14px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scrollSnap_tagSlide_leftArrow{
    left: 0;
    justify-content: flex-start;
    background: linear-gradient(90deg,#fff 21.82%,hsla(0,0%,100%,0));
    width: 80px;
    display: none;
    position: absolute;
    align-items: center;
    height: 100%;
    z-index: 1;
}
.scrollSnap_tagSlide_leftArrow>button{
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%);
    color: #888;
    position: relative;
}
.scrollSnap_tagSlide_rightArrow{
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(270deg,#fff 21.82%,hsla(0,0%,100%,0));
    display: flex;
    width: 80px;
    position: absolute;
    align-items: center;
    height: 100%;
    z-index: 1;
}
.scrollSnap_tagSlide_rightArrow>button{
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%);
    color: #888;
    position: relative;
}
.interestTagSlide_more{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e2e3;
    box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
    border-radius: 4px;
    color: #939393;
    background-color: #fff;
    outline: none;
}


.creatorBannerAside_image{
    width: 62px;
}
.creatorBannerAside_close{
    position: absolute;
    right: 14px;
    top: 14px;
    color: #ccc;
    font-size: 20px;
}
.creatorBannerAside_close>span{
    cursor: pointer;
}
.creatorBannerAside_title{
    margin-top: 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 142.9%;
    text-align: center;
    letter-spacing: .0145em;
    color: #333;
    width: 90%;
    word-break: keep-all;
}
.creatorBannerAside_divider{
    width: 110px;
    margin: 10px 0;
    height: 1px;
    border: none;
    flex-shrink: 0;
    background-color: #ececec;
}
.creatorBannerAside_button{
    font-weight: 600;
    font-size: 12px;
    line-height: 133.3%;
    letter-spacing: .031em;
    padding: 0;
    width: 100%;
    height: 30px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-width: 64px;
    box-sizing: border-box;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.button_label{
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}
.button_endIcon{
    margin-top: -2px;
    margin-right: -1px;
    margin-left: 2px;
}
.button_endIcon>.svgIcon_root_svg{
    position: absolute;
    right: 14px;
    top: 14px;
    color: #ccc;
    font-size: 20px;
}