/* 스타일 설정 */
.employment_colorGray {
    color: var(--employment_color_gray);
}

.employment_jobContent_buttonStyle {
    background-color: #fff;
    border: none;
}

.employment_jobContent_fontStyle {
    font-size: 15px;
    font-weight: 600;
}

.employment_jobContent_aside_divStyle {
    display: flex;
    flex-direction: row;
}

/* div */
.employment_jobContent {
    width: 1060px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.employment_jobContent_asideBox{
    width: 340px;
    height: 324.73px;
}
.employment_jobContent_aside {
    display: flex;
    flex-direction: column;
    padding: 24px 20px;
    border: 1px solid #e1e2e3;
    justify-content: center;
    border-radius: 4px;
}

.employment_jobContent_aside_titleBox {
    display: flex;
    justify-content: space-between;
}

.employment_jobContent_aside_title {
    margin: auto 0;
}

.employment_jobContent_shareButton {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #e1e2e3;
}

.employment_jobContent_aside_body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.employment_jobContent_aside_body>ul {
    list-style: none;
    width: 100%;
    margin: 24px 0;
}

.employment_jobContent_aside_body>ul>li {
    float: left;
    width: 170px;
}

.employment_jobContent_aside_body>ul>li>div {
    margin-bottom: 10px;
}

.employment_jobContent_buttonBookMark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #36f;
    text-align: center;
    margin: 10px 0;
}
.employment_jobContent_buttonBookMark_svgBox{
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.employment_jobContent_buttonSupport {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.employment_jobContent_buttonLikeBox {
    width: 40px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #e1e2e3;
    padding: 0 15px;
}

.employment_jobContent_buttonLike {
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
}