@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-std.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

@import url('./css/mainbar.css');

:root {
    --nav-height: 50px;
    --button-color: #eeeeee;
    --font-size: 9px;
  }
* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f8f8fa;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    overflow: visible;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    background-color: transparent;
}

img {
    vertical-align: middle;
}

li{
    text-align: -webkit-match-parent;
}

element.style {
    width: 17px;
    height: 14px;
    object-fit: contain;
}