footer {
  width: 80%;
  padding: 0px 0px 100px 0px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.footer-top__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58%;
  margin: 25px 0px;
}

.footer-top__right {
  width: 25%;
}

.footer-nav {
  width: 70%;
}

.footer-nav ul {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  font-size: 15px;
}

.sns {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.company-description {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  opacity: 0.5;
  margin-right: 20px;
  margin: 30px 0px;
}

#select-lang {
  margin: 30px 0px;
  padding: 12px;
  opacity: 0.6;
  border-radius: 5px;
  border: none;
  width: 250px;
  height: 40px;
  background: url('https://pic.onlinewebfonts.com/svg/img_196221.png') no-repeat
    95% 50%/9px auto;
  background-color: #f2f4f7;
  appearance: none;
}
