header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: #e5e5e5 1px solid;
  padding: 10px 0px 0px 0px;
  flex-wrap: nowrap;
  position: fixed;
  background: white;
  z-index: 10;
}

.header {
  display: flex;
  width: 70%;
  justify-content: center;
}

.left-side {
  display: flex;
  width: 8%;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.logo {
  cursor: pointer;
}

.left-side i {
  margin-top: 4px;
}

.header-nav {
  width: 70%;
  display: flex;
  justify-content: center;
}

.header-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 100%;
  font-size: 14px;
  font: #757575;
}

.header-nav li {
  padding: 15px;
  position: relative;
}

.header-nav li:hover {
  border-bottom: 2px solid black;
  padding: -2px;
  cursor: pointer;
}

.cursor:hover {
  cursor: pointer;
}

.none::after {
  height: 100%;
  content: '';
  display: inline-block;
}

.sup-new::after {
  content: 'New';
  position: absolute;
  top: 9.5px;
  font-size: 1px;
  color: #5688ff;
  font-weight: 100;
  display: inline-block;
}

.sup-beta::after {
  content: 'Beta';
  position: absolute;
  top: 9.5px;
  font-size: 1px;
  color: #5688ff;
  font-weight: 100;
}

.right-side {
  display: flex;
  justify-content: space-around;
  width: 20%;
  font-size: 14px;
  align-items: center;
  font: #757575;
}

.right-side button {
  border-radius: 15px;
  padding: 5px;
  font-size: 13px;
  background-color: inherit;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: inherit;
}
